:root {
  /** Colors */
  --color-black: #000000;
  --color-white: #ffffff;

  --color-highlight: #FED8B1;

  /** Font sizes */
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 24px;

  /** Sizes */
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--color-white);
  padding: var(--size-s) var(--size-m);
}

header > h1 {
  font-size: var(--font-size-l);
  margin: 0;
}

main {
  padding: var(--size-s) var(--size-m);
}

#loading-indicator {
  display: none;
}

.loading #loading-indicator {
  display: block;
}